- game = locals[:game]
%h1 Game ##{game.id} Details
%ul.inline
  %li
    %a{ :href => to("/games/#{game.id}/csv") }
      %i.icon-file
      Download CSV
  %li
    %form{ :method => :post }
      - if game.archived?
        %button.btn{ :type => :submit } Unarchive
      - else
        %input{ :type => :hidden, :name => :archived, :value => true }
        %button.btn{ :type => :submit } Archive
%h2 Rounds
- if (rounds = game.rounds).empty?
  %p.text-info No rounds have been played
- else
  %table.table.table-striped
    %tr
      %th Round Number
      %th Weather
      %th Crop Choice
      %th Score Delta
      %th Time Taken
    - rounds.each do |round|
      %tr
        %td= round.round_number
        %td= round.weather
        %td= round.crop_choice
        %td= round.score
        %td #{round.seconds_taken} seconds
